:root {
	--body-bg: white;
	--body-color: black;

	--font-size: 16px;
	--txt-align: center;

	--content-width: 576px;
	--min-body-width: 600px;

	--input-width: 160px;
	--button-height: 32px;

	--color-txt-highlight: rgb(120,88,0);
}
@media (prefers-color-scheme: dark) {
	:root {
		--body-bg: black;
		--body-color: white;
		--color-txt-highlight: rgb(240,175,0);
	}
}

@font-face {
  font-family: 'roboto';
  src: url('font/roboto-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('font/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/roboto-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('font/roboto-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('font/roboto-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('font/roboto-bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
  font-family: "Roboto", Fallback, sans-serif;
  font-size: var(--font-size);
  background-color: var(--body-bg);
  color: var(--body-color);
  min-width: var(--min-body-width);
}

input {
  max-width: var(--input-width);
  border-radius: 6px;
  text-align: var(--txt-align);
}

#calc-button {
	 max-width: var(--input-width);
	 height: var(--button-height);
}

.my-dark-gold {
	color: var(--color-txt-highlight);
}

.my-txt-center {
	text-align: var(--txt-align);
}

.my-center {
	margin:auto;
}

.maxwidth-512 {
	max-width: var(--content-width);
}